@media screen and (min-width: 720px) {
  .container {
    @include width(10);
  }
  
  .container:after {
    content:'';
    display:block;
    clear: both;
  }
  
  .intro {
    position: relative;
    padding-right: $cols5;
    height: 420px;
  }
  
  .intro img {
    position: absolute;
    right: 0;
    bottom: 0;
    @include width(4);
  }
  
  .example {
    float: left;
    @include width(4);
    padding-right: $cols1;
  }
  
  .example-details {
    display: none;
  }
  
  .photo-thumbnail {
    height: $cols4 !important;
    width: $cols4;
  }
}