/* Header
---------------------------------------- */

.header {
  height: 100px;
  margin-bottom: 1em;
  
  .blog-logo {
    float: left;
    margin-top: 15px;
  }
  
  .static-pages {
    float: right;
    margin-top: 40px;
    line-height: 22px;
  }
  
  .static-pages A {
    margin: 0 5px;
    color: $text;
    font-weight: bold;
    margin-bottom: 2px;
  }
  
  .static-pages A:hover {
    border-bottom: 2px solid #333333;
    color: #333333;
    margin-bottom: 0;
  }
  
  .static-pages .separator {
    color: #ccc;
    font-weight: bold;
  }
}