/* Header
---------------------------------------- */

.header {
  height: 100px;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #eee;
  margin-bottom: 50px;
  
  .container {
    position: relative;
  }
  
  .blog-logo {
    position: absolute;
    left: 0;
    top: 15px;
  }
  
  .name, .title {
    position: absolute;
    left: 86px;
    width: 200px;
    display: none;
  }
  
  .name {
    top: 10px;
    color: $text;
    font-size: 1.6em;
  }
  
  .title {
    top: 38px;
    color: $green;
  }
  
  .static-pages {
    position: absolute;
    right: 0;
    margin-top: 40px;
    line-height: 22px;
  }
  
  .static-pages A {
    margin: 0 5px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 2px;
  }
  
  .static-pages A:hover {
    border-bottom: 2px solid #333333;
    color: #333333;
    margin-bottom: 0;
  }
  
  .static-pages .separator {
    color: #ccc;
    font-weight: bold;
  }
}