.container {
  @include width(4);
  margin: 0 auto;
}

a {
  color: $link;
  text-decoration: none;
}

a:hover:not(.blog-logo) {
  border-bottom: 1px solid $link;
}

img {
  max-width: 100%; 
}

.intro {
  margin-bottom: 2em;
}

.examples {
  margin-top: 2em;
}

.example {
  margin-bottom: 2em;
}

a .post-title {
  color: $text;
  margin-top: 2em;
}

.banner {
  background-color: $green;
  color: #fff;
  padding: 10px;
  @include width(3);
  margin-left: -999px;
  padding-left: 999px;
  margin-top: 1em;
}