<header class="header">
  <div class="container">
    <a href="{{@blog.url}}" class="blog-logo">
      <img src="{{@blog.logo}}" width="70" height="70" />
      <span class="name">Rachel Salmon</span>
      <span class="title">Graphic Designer</span>
    </a>

    {{> static-pages}}
    
  </div>
</header>