<header class="header">
  <div class="container">
    <a href="{{@blog.url}}" class="blog-logo">
      <img src="{{@blog.logo}}" width="70" height="70" />
    </a>

    {{> static-pages}}
  </div>
</header>