<section class="social-links">
	{{! Twitter }}
	<a class="icon" href="http://twitter.com/" target="_blank">
		<i class="fa fa-twitter"></i>
	</a>

	{{! Instagram }}
	<a class="icon" href="http://instagram.com/" target="_blank">
		<i class="fa fa-instagram"></i>
	</a>

	{{! Flickr }}
	<a class="icon" href="http://flickr.com/" target="_blank">
		<i class="fa fa-flickr"></i>
	</a>
</section>